<%= content_for :jumbotron do %>
  <h2>Dashboard App</h2>
  <p>Welcome</p>
<% end %>

<% if current_user.present? %>
  <p>
    <% if current_user.full_name.size > 0 %>
      Hello, <b><%= current_user.full_name %></b>!
    <% else %>
      Hello!
    <% end %>
    <br>
    <br>
    <%= link_to 'Click here', user_dashboards_path %>
    to open your dashboards.
  </p>
<% else %>
  <p>
    Hello, guest. Please, sign in or register.
  </p>
<% end %>
