<%- if flash[:success].present? %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <%= flash[:success] %>
  </div>
<% end %>

<%- if flash[:error].present? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <strong>Error</strong>
    <br>
    <%= flash[:error] %>
  </div>
<% end %>

<%- if notice.present? %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <strong>Information</strong>
    <br>
    <%= notice %>
  </div>
<% end %>

<%- if alert.present? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <strong>Information</strong>
    <br>
    <%= alert %>
  </div>
<% end %>